@import "../../variables";

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 13px 33px;
  border-radius: 6px;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.0005em;

  &-pink{
    border: 3px $pink solid;
    color: $pink!important;

    &:hover{
      color: $pink!important;
    }
  }

  &-gold{
    border: 3px $gold solid;
    color: $gold!important;
  }

  &-grey{
    border: 3px $white solid;
    color: $white;
    background-color: rgba(252, 254, 251, 0.22);
    padding: 13px 46px;

    svg{
      fill: $white;
      margin-right: 12px;
    }
  }

  &.bold{
    @include bold-18px;
  }

  &.large{
    width: 100%;
    padding: 0;
  }
}

.btn-fill {
  color: $white!important;
  &.btn-pink {
    background-color: $pink;
    color: $white!important
  }

  &.btn-gold{
    background-color: $gold;
  }

}




@media (min-width: $breakpoint-2) {
  .btn {
    height: 46px;
  }
}


@media (max-width: $breakpoint-3) and (min-width: $breakpoint-4) {
  .btn {
    height: 42px;
  }
}


@media (max-width: $breakpoint-4) {
  .btn {
    height: 32px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
  }
}
