@import '../../variables';

.productPage {

  .breadСrumbs {
    margin: 30px 0 16px 0;
    display: flex;

    p {
      font-family: 'HelveticaNeueCyr', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: $grey-3;
      padding-right: 5px;
    }
  }

  .productTitle {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .photo {
      width: 520px;
      height: 687px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .title {
      h4, span {
        font-size: 20px;
        line-height: 20px;
        color: $grey-2;
        padding-right: 15px;
      }

      span {
        color: $dark-blue;
      }

      h2 {
        font-family: 'HelveticaNeueCyr', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: $dark-blue;
        margin-bottom: 15px;
      }

      .manufacturer {
        margin-top: 30px;
        display: flex;
      }

      .price {
        margin: 20px 0 12px 0;

        h2 {
          font-weight: bold;
          font-size: 36px;
          line-height: 36px;
          color: $dark-blue;
        }
      }

      .buy {
        margin: 23px 0 43px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .quantity {
          display: flex;

          .quantityTotal {
            min-width: 75px;
            border: 1px solid gray;
            text-align: center;
            padding: 5px;

            p {
              display: inline-block;
              padding: 0 13px 0 13px;
            }

            button {
              color: $pink;
              font-size: 20px;
            }
          }
        }

        .buyPrice {
          display: flex;

          span {
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: $pink;
          }
        }
      }

      .buyButton {

        button {
          width: 180px;
          height: 46px;
          border-radius: 6px;
          font-size: 18px;
          margin-right: 20px;
          font-weight: bold;
        }

        .orangeButton {
          background: #ECAE10;
          color: $white;
        }

        .pinkButton {
          border: 3px solid $pink;
          color: $pink;
        }
      }
    }
  }
  .banner img {
    width: 100%;
  }
  .carousel {
    margin: 110px 0 30px 0;

    h4 {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      color: $dark-blue;
    }
  }

  .characteristics {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 90px 0 90px 0;
    gap: 0 150px;

    .description {
      h3 {
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
        color: $dark-blue;
      }

      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: $grey-2;
      }
    }
  }

  .category {
    margin-top: 200px;
  }
}

